body {
    font-family: Arial, sans-serif;
    background-color: #a1bfff;
  }
  
  .contenedor {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #a0d3ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333333;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #08509c;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5%;
    margin: 10px;
  }

  button:hover{
    background-color: #0a2a4d; 
  }
  
  #datosClima {
    margin-top: 20px;
    font-size: 18px;
  }
  